#!/bin/bash
set -e


pushd {{ .chezmoi.sourceDir }}

export PATH="$PATH:${HOME}/.local/bin"
export DEBIAN_FRONTEND=noninteractive

sudo apt-get update
sudo apt-get upgrade -y

{{ if .cui }}

export CHEZMOI_USERNAME={{ .name }}
export CHEZMOI_EMAIL={{ .email }}

./scripts/cui.sh

{{ end }}

{{ if .gui }}

./scripts/gui.sh

{{ end }}

popd

echo "finish"
