#!/bin/bash
set -xe

source scripts/lib/utils.sh

export PATH="$PATH:${HOME}/.local/bin"
export DEBIAN_FRONTEND=noninteractive

sudo apt-get update
sudo apt-get upgrade -y

{{ if .cui }}

./scripts/cui.sh

{{ end }}

{{ if .gui }}

./scripts/gui.sh

{{ end }}

echo "finish"
