#!/bin/zsh

#--------------------------------------------------------------
#               History Configuration
#--------------------------------------------------------------

HISTFILE="$Z_HOME_DIR/zsh_history"
HISTSIZE=1000
SAVEHIST=100000

#--------------------------------------------------------------
#               Uncategorized
#--------------------------------------------------------------

autoload -Uz compinit
compinit
