#!/bin/zsh

#--------------------------------------------------------------
#               History Configuration
#--------------------------------------------------------------

HISTFILE="${XDG_CONFIG_HOME:-$HOME/.config}/zsh/zsh_history"
HISTSIZE=1000
SAVEHIST=100000

#--------------------------------------------------------------
#               Uncategorized
#--------------------------------------------------------------

autoload -Uz compinit
compinit
